<div class="busca-id">

  <div class="buscaId-container-block">
    <div class="buscaId-container">
      <p>Digite o id da busca:</p>
      <input class="form-input" type="text" name="id-busca" id="cpf_input"  [(ngModel)]="id">
      <button type="button" class="button-blue" (click)="buscarId(id)">Buscar</button>

    </div>
    <span *ngIf="sucess == false" class="error" >{{ error }}</span>
  </div>
  <ng-container *ngIf="funcionario.name">
    <table class="busca-id-container-result">

      <tr class="title">
        <th class="title-line">CPF:</th>
        <th class="title-line">NOME:</th>
        <th class="title-line">IDADE</th>
        <th class="title-line">NASCIMENTO:</th>
        <th class="title-line">EMPRESA:</th>
        <th class="title-line">CARGO:</th>
        <th class="title-line">SALARIO:</th>
        <th class="title-line">ESTADO:</th>
        <th class="title-line">CIDADE:</th>
        <th class="title-line">BAIRRO:</th>
        <th class="title-line">RUA:</th>
        <th class="title-line">NUMERO:</th>
      </tr>

      <tr class="result-tr">
        <th class="result-line">{{funcionario.cpf}}</th>
        <th class="result-line">{{funcionario.name}}</th>
        <th class="result-line">{{funcionario.age}}</th>
        <th class="result-line">{{funcionario.birthDate}}</th>
        <th class="result-line">{{funcionario.company}}</th>
        <th class="result-line">{{funcionario.position}}</th>
        <th class="result-line">{{funcionario.salary}}</th>
        <th class="result-line">{{funcionario.state}}</th>
        <th class="result-line">{{funcionario.city}}</th>
        <th class="result-line">{{funcionario.district}}</th>
        <th class="result-line">{{funcionario.street}}</th>
        <th class="result-line">{{funcionario.numberOfStreet}}</th>
      </tr>
    </table>
  </ng-container>
  </div>
