.buscaId-container-block{
  border-width: 2px;
  border-style: inset;
  width: 40%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.container-title {
  border-width: 1px;
  border-style: inset;
  padding-bottom: 20px;

}

.title-line {
  width: 87px;
  border-width: 3px;
  border-style: inset;
}

.result-line {
  border-width: 1px;
  border-style: solid;
  font-size: 12px;

}

.error {
  color: red;
}
