<div class="busca-id">
  <div class="buscaId-container-block">
    <div class="buscaId-container">
      <p>Digite o id do funcionario que quer editar:</p>
      <input
        class="form-input"
        type="text"
        name="id-busca"
        id="cpf_input"
        [(ngModel)]="id"
      />
      <button type="button" class="button-blue" (click)="buscarId(id)">
        Buscar
      </button>

      <span *ngIf="!funcionario.name">{{ response }}</span>
    </div>
  </div>

  <ng-container *ngIf="funcionario.name">
    <table class="busca-id-container-result">
      <tr class="title">
        <th class="title-line">CPF:</th>
        <th class="title-line">NOME:</th>
        <th class="title-line">IDADE</th>
        <th class="title-line">NASCIMENTO:</th>
        <th class="title-line">EMPRESA:</th>
        <th class="title-line">CARGO:</th>
        <th class="title-line">SALARIO:</th>
        <th class="title-line">ESTADO:</th>
        <th class="title-line">CIDADE:</th>
        <th class="title-line">BAIRRO:</th>
        <th class="title-line">RUA:</th>
        <th class="title-line">NUMERO:</th>
      </tr>

      <tr class="result-tr">
        <th class="result-line">{{ funcionario.cpf }}</th>
        <th class="result-line">{{ funcionario.name }}</th>
        <th class="result-line">{{ funcionario.age }}</th>
        <th class="result-line">{{ funcionario.birthDate }}</th>
        <th class="result-line">{{ funcionario.company }}</th>
        <th class="result-line">{{ funcionario.position }}</th>
        <th class="result-line">{{ funcionario.salary }}</th>
        <th class="result-line">{{ funcionario.state }}</th>
        <th class="result-line">{{ funcionario.city }}</th>
        <th class="result-line">{{ funcionario.district }}</th>
        <th class="result-line">{{ funcionario.street }}</th>
        <th class="result-line">{{ funcionario.numberOfStreet }}</th>
      </tr>
    </table>
  </ng-container>

  <div *ngIf="funcionario.name" class="title-2">
    <h2>Digite as informações a serem alteradas no formulario:</h2>
  </div>
  <form class="form-container" *ngIf="funcionario.name">

      <div class="">
        <p class="paragrafo">CPF:</p>
        <input
          class="form-input"
          type="text"
          name="cpf"
          id="cpf_input"
          [(ngModel)]="funcionario2.cpf"
        />
      </div>

      <div class="">
        <p class="paragrafo">Name:</p>
        <input
          class="form-input"
          type="text"
          name="name"
          id="name-input"
          [(ngModel)]="funcionario2.name"
        />
      </div>

      <div class="">
        <p class="paragrafo">Age:</p>
        <input
          class="form-input"
          type="number"
          name="age"
          id="age_input"
          [(ngModel)]="funcionario2.age"
        />
      </div>

      <div class="">
        <p class="paragrafo">birthDate:</p>
        <input
          class="form-input"
          type="text"
          name="birthDate"
          id="birthDate_input"
          [(ngModel)]="funcionario2.birthDate"
        />
      </div>

      <div class="">
        <p class="paragrafo">Company:</p>
        <input
          class="form-input"
          type="text"
          name="company"
          id="company_input"
          [(ngModel)]="funcionario2.company"
        />
      </div>

      <div class="">
        <p class="paragrafo">Position:</p>
        <input
          class="form-input"
          type="text"
          name="position"
          id="position_input"
          [(ngModel)]="funcionario2.position"
        />
      </div>

      <div class="">
        <p class="paragrafo">Salary:</p>
        <input
          class="form-input"
          type="number"
          name="salary"
          id="salary_input"
          [(ngModel)]="funcionario2.salary"
        />
      </div>

      <div class="">
        <p class="paragrafo">State:</p>
        <input
          class="form-input"
          type="text"
          name="state"
          id="state_input"
          [(ngModel)]="funcionario2.state"
        />
      </div>

      <div class="">
        <p class="paragrafo">City:</p>
        <input
          class="form-input"
          type="text"
          name="city"
          id="city_input"
          [(ngModel)]="funcionario2.city"
        />
      </div>

      <div class="">
        <p class="paragrafo">District:</p>
        <input
          class="form-input"
          type="text"
          name="district"
          id="district_input"
          [(ngModel)]="funcionario2.district"
        />
      </div>

      <div class="">
        <p class="paragrafo">Street:</p>
        <input
          class="form-input"
          type="text"
          name="street"
          id="street_input"
          [(ngModel)]="funcionario2.street"
        />
      </div>

      <div class="">
        <p class="paragrafo">Number of Street:</p>
        <input
          class="form-input"
          type="number"
          name="numberOfStreet"
          id="numberOfStreet_input"
          [(ngModel)]="funcionario2.numberOfStreet"
        />
      </div>

      <div class="">
        <button class="button-blue" type="button" (click)="editarId()">
          Cadastrar
        </button>
      </div>

  </form>
</div>
