<div class="body-edita" *ngIf="funcionario2.cpf">
  <div class="box-title">
    <h1 class="title-h1">Digite o formulario a ser cadastrado:</h1>
  </div>

  <form class="example-form" *ngIf="funcionario2.cpf">
    <div class="container-space">
      <div class="container-mat-form">
        <div class="form-input-box">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> CPF: </mat-label>
            <input
              matInput
              disabled
              value="{{ funcionario2.cpf }}"
              name="cpf"
              id="edit-form-fild"
            />
          </mat-form-field>
        </div>

        <div class="form-input-box">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width" appearance="legacy">
                  <mat-label>Nome: {{ funcionario2.name }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="funcionario2.name"
                    name="name"
                    id="edit-form-fild"
                  />
                </mat-form-field>
              </td>

              <td>
                <mat-form-field class="example-full-width" appearance="legacy">
                  <mat-label>Idade: {{ funcionario2.age }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="funcionario2.age"
                    name="age"
                    id="edit-form-fild"
                  />
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>

        <div class="form-input-box">
          <p>
            <mat-form-field class="example-full-width" appearance="legacy">
              <mat-label
                >Data de nascimento: {{ funcionario2.birthDate }}</mat-label
              >
              <textarea
                matInput
                placeholder=""
                [(ngModel)]="funcionario2.birthDate"
                name="birthDate"
                id="edit-form-fild"
              ></textarea>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="example-full-width" appearance="legacy">
              <mat-label>Empresa: {{ funcionario2.company }}</mat-label>
              <textarea
                matInput
                [(ngModel)]="funcionario2.company"
                name="company"
                id="edit-form-fild"
              ></textarea>
            </mat-form-field>
          </p>
        </div>
      </div>
    </div>

    <div class="container-space">
      <div class="container-mat-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width" appearance="legacy">
                <mat-label>Cargo: {{ funcionario2.position }}</mat-label>
                <input
                  matInput
                  [(ngModel)]="funcionario2.position"
                  name="position"
                />
              </mat-form-field>
            </td>

            <td>
              <mat-form-field class="example-full-width" appearance="legacy">
                <mat-label>Salário: {{ funcionario2.salary }}</mat-label>
                <input
                  matInput
                  [(ngModel)]="funcionario2.salary"
                  name="salary"
                />
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width" appearance="legacy">
                <mat-label>Estado: {{ funcionario2.state }}</mat-label>
                <input matInput [(ngModel)]="funcionario2.state" name="state" />
              </mat-form-field>
            </td>

            <td>
              <mat-form-field class="example-full-width" appearance="legacy">
                <mat-label>Cidade: {{ funcionario2.city }}</mat-label>
                <input matInput [(ngModel)]="funcionario2.city" name="city" />
              </mat-form-field>
            </td>
          </tr>
        </table>

        <p>
          <mat-form-field class="example-full-width" appearance="legacy">
            <mat-label>Bairro: {{ funcionario2.district }}</mat-label>
            <textarea
              matInput
              placeholder=""
              [(ngModel)]="funcionario2.district"
              name="district"
            ></textarea>
          </mat-form-field>
        </p>

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width" appearance="legacy">
                <mat-label>Rua: {{ funcionario2.street }}</mat-label>
                <input
                  matInput
                  [(ngModel)]="funcionario2.street"
                  name="street"
                />
              </mat-form-field>
            </td>

            <td>
              <mat-form-field class="example-full-width" appearance="legacy">
                <mat-label>Numero: {{ funcionario2.numberOfStreet }}</mat-label>
                <input
                  matInput
                  [(ngModel)]="funcionario2.numberOfStreet"
                  name="numberOfStreet"
                />
              </mat-form-field>
            </td>
          </tr>
        </table>

        <div class="box-button-action">
          <div class="button">
            <button
              mat-raised-button
              color="primary"
              id="send"
              (click)="enviar(funcionario2)"
            >
              Alterar
            </button>
          </div>

          <div class="button">
            <button mat-raised-button color="danger" (click)="cancelar()">
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
