<div class="container">

  <div class="container-title">


  </div>

  <div class="container-title-bar">

  </div>

  <div class="container-menu">

    <div class="container-menu-box">

      <div class="box-icon">
        <a class="ancora"href="FuncionarioComponent">
          <mat-icon id="icons" aria-hidden="false" aria-label="Example home icon"> home </mat-icon>
          <p class="p">Home</p>
         </a>
      </div>

      <div class="box-icon">
        <a class="ancora"href="EnviaComponent">
          <mat-icon id="icons" aria-hidden="false" aria-label="Example home icon">assignment</mat-icon>
           <p class="p"> Enviar Funcionario </p>
        </a>
      </div>

      <div class="box-icon">
        <a class="ancora"href="BuscaComponent">
          <mat-icon id="icons" aria-hidden="false" aria-label="Example home icon">assignment_ind</mat-icon>
          <p class="p"> Busca Especifica</p>
        </a>
      </div>

      <div class="box-icon">
        <a class="ancora"href="DeletaComponent">
          <mat-icon id="icons" aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
          <p class="p"> Deletar Funcionario </p>
        </a>
      </div>

      <div class="box-icon">
        <a class="ancora"href="EditaComponent">
          <mat-icon id="icons" aria-hidden="false" aria-label="Example home icon">dns</mat-icon>
         <p class="p">  Editar Funcionario </p>
        </a>
      </div>



    </div>

  </div>

  <div class="container-body">
    <router-outlet></router-outlet>


  </div>


</div>
