<div class="container">
  <div class="container-title">
    <mat-toolbar id="mat-toolbar-title">
      <div class="container-flex">
        <button
          id="general-button"
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
          (click)="drawer.toggle()"
        >
          <mat-icon id="icon-title">menu</mat-icon>
        </button>

        <a href="">
          <div class="">
            <img src="../assets/images/logo-header.png" id="img-title" alt="" />
          </div>
        </a>
      </div>

      <div class="div-button-title-rigth">
        <a href="https://www.linkedin.com/in/robson-monteiro-263014b4/">
          <button mat-button color="primary">
            <mat-icon>favorite</mat-icon>
          </button>
        </a>

        <a href="https://github.com/newhobbye">
          <button mat-button color="accent">
            <mat-icon>share</mat-icon>
          </button>
        </a>
      </div>
    </mat-toolbar>
  </div>

  <div class="container-menu">
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer
        #drawer
        class="example-sidenav"
        mode="side"
        [(opened)]="showFiller"
      >
        <div class="box-icon">
          <a class="ancora" href="EnviaComponent">
            <button mat-raised-button color="primary" class="button-send">
              <span>Cadastrar Funcionário</span>
            </button>
          </a>
        </div>
      </mat-drawer>
    </mat-drawer-container>

  </div>

  <div class="container-body">
    <router-outlet></router-outlet>
  </div>
</div>
