.container-principal {
  height: 100%;
}

.title-bar {
  display: flex;
  height: 60px;
  justify-content: space-between;
}

.filter {
  width: 300px;
  height: 100%;
  margin-right: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.title-h1 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}

.h1 {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.container-result {
  display: flex;
  flex-direction: column;
}

.container-title {

  padding-bottom: 20px;
  border-top: 1px solid #a1a1a1;
}

table {
  border-collapse: none;
    text-indent: initial;
    border-spacing: 0px;
}

.title {
  height: 55px;

}

.title-line {
  border-bottom: 2px solid #d1d1d1;

}

.result {
  height: 55px;
  font-family: Arial;
  font-style: normal;
  font-variant: normal;
  line-height: 19.8px;
  color: rgba(66, 66, 66, 0.884);

}

.result-line {
  border-bottom: 2px solid #d1d1d1;
}


tr:nth-child(odd) {
 background-color: rgb(230, 227, 227);
}

.result:hover {
  background-color: rgb(137, 167, 223);
  height: 60px;
  color: black;

}

.result-line:hover{
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

/* trabalhar nesta questão */
@media (max-width: 688px){

  .container-title {
    padding-bottom: 20px;

  }
}


table {
  width: 100%;
}

.input-filter {
  border-radius: 10px;
  height: 30px;
  background :rgb(230, 227, 227);
  border-style: none;
}

.input-filter:hover {

  height: 35px;
  background: whitesmoke;
  border-style: solid;
}

.input-filter::placeholder {
  padding-left: 5px;
}




.input-result-name{
  width: 100px;
}

.input-result-age{
  width: 25px;
}

.input-result-birthDate{
  width: 105px;
}

.input-result-company{
  width: 70px;
}
.input-result-position{
  width: 80px;
}

.input-result-salary{
  width: 60px;
}

.input-result-state{
  width: 80px;
}

.input-result-city{
  width: 90px;
}

.input-result-district{
  width: 90px;
}

.input-result-street{
  width: 120px;
}

.input-result-numberOfStreet{
  width: 25px;
}








