<div class="container-principal">
  <div class="title-bar">
    <div class="title-h1-edit">
      <h1 class="h1" *ngIf="validation == false">Funcionarios</h1>
      <p class="title-h1-register" *ngIf="validation == false">
        {{ total }} registros
      </p>
    </div>

    <div class="filter">
      <div class="div-filter" *ngIf="validation == false">
        <div class="input-box">
          <input
            class="input-filter"
            type="text"
            name="search"
            placeholder="Digite a busca:"
            [(ngModel)]="search"
            (ngModelChange)="onChange($event)"
          />
        </div>

        <div class="icon-search-box">
          <mat-icon class="mat-18" id="input-filter-icon">search</mat-icon>
        </div>
      </div>
    </div>
  </div>



  <table class="container-body" *ngIf="validation == false">
    <tr class="tr-title">
      <div class="delete"></div>
      <th class="th-title-line">CPF:</th>
      <th class="th-title-line">NOME:</th>
      <th class="th-title-line">EMPRESA:</th>
      <th class="th-title-line">CARGO:</th>
      <th class="th-title-line">SALARIO:</th>
    </tr>

    <tr
      class="tr-result"
      *ngFor="let funcionario of funcionarios | filter: search"
    >
      <div class="delete">
        <button
          class="button-delete"
          mat-icon-button
          [matMenuTriggerFor]="menu"
          #menuTrigger
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="captured(funcionario)">
            <mat-icon>remove_red_eye</mat-icon>
            <span>Visualizar</span>
          </button>

          <button mat-menu-item (click)="openDialog(funcionario)">
            <mat-icon>delete</mat-icon>
            <span>Deletar</span>
          </button>

          <!-- deleteClick(funcionario) -->
        </mat-menu>
      </div>

      <th class="th-result-line" (click)="captured(funcionario)">
        {{ funcionario.cpf }}
      </th>
      <th class="th-result-line" (click)="captured(funcionario)">
        {{ funcionario.name }}
      </th>
      <th class="th-result-line" (click)="captured(funcionario)">
        {{ funcionario.company }}
      </th>
      <th class="th-result-line" (click)="captured(funcionario)">
        {{ funcionario.position }}
      </th>
      <th class="th-result-line" (click)="captured(funcionario)">
        {{ funcionario.salary }}
      </th>
    </tr>
  </table>

  <app-edita [funcionario2]="funcionarioEdit"></app-edita>
</div>
