/*=========CONTAINER PRINCIPAL=========*/

.container-principal {
  height: 100%;
  width: 100%;

}

/*=========CONTAINER PRINCIPAL=========*/

/*=========TITLE=========*/


.title-bar {
  display: flex;
  height: 100%;
  justify-content: space-between;
  max-height: 60px;

}

.title-h1-edit {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  height: 100%;
}

.h1 {
  margin: 0;
  font-size: 25px;
}

.title-h1-register {
  font-size: 12px;
  text-transform: uppercase;
}



/*=========TITLE=========*/

/*=========FILTER=========*/

.filter {
  width: 100%;
  height: 100%;
  margin-right: 2%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.div-filter {
  display: flex;
  border-radius: 24px;
  height: 65%;
  background-color: #f0f0f0;
  border-style: none;

}

.input-box {
  margin-top: 2%;

}

.input-filter {

  background-color: #f0f0f0;
  border-style: none;
  height: 85%;
  border-radius: 24px;

}

.input-filter::placeholder {
  padding-left: 8%;
}

#input-filter-icon {
  margin-top: 22%;
  margin-right: 8px;
}


/*=========FILTER=========*/


/*=========BODY=========*/

.container-body {
  padding-bottom: 20px;
  border-collapse: none;
  text-indent: initial;
  border-spacing: 0px;
  width: 100%;

}

/*=========BODY=========*/

/*=========TR/TH TITLE=========*/

.tr-title {
  height: 55px;

}

.th-title-line {
  text-align: center;
  font-size: .85em;
  padding: 5px 15px;
  text-transform: uppercase;

}

/*=========TR/TH TITLE=========*/

/*=========TR/TH RESULT=========*/

.tr-result {
  height: 100%;
  font-family: Arial;
  font-style: normal;
  font-variant: normal;
  line-height: 19.8px;
  color: rgba(66, 66, 66, 0.884);

}

.th-result-line {
  font: 400 14px/20px Roboto,Helvetica Neue,sans-serif;
  color: #5c5959;
  text-align: center;
}

.tr-result:hover {
  background-color: #f5f5f5;

}

/*=========TR/TH RESULT=========*/

/*=========DELETE-FUNCTION=========*/

.delete {
  width: 0px;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.button-delete {
  height: 53px;
}

.container-result {
  display: flex;
  flex-direction: column;
}

/*=========DELETE-FUNCTION=========*/

/*=========ALTERAÇÃO DIRETA=========*/

tr:nth-child(even) {
  background-color: #f5f5f5;
}

th {
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

/*=========ALTERAÇÃO DIRETA=========*/

/*=========MEDIA=========*/

@media (max-width: 1095px) {

}

@media (max-width: 900px) {



}

@media (max-width: 768px) {

  /*=========TITLE=========*/
  .title-bar {
    display: flex;
    height: 100%;
    justify-content: space-between;
    max-height: 40px;

  }

  .title-h1-edit {
    display: flex;
    margin-left: 2%;
    height: 100%;
    width: 55%;

  }

  .h1 {
    font-size: 14px;
    margin-right: 5%;
    width: 32%;
    height: 45%;
  }

  .title-h1-register {
    font-size: 10px;
    text-transform: uppercase;

  }

  .title2-h1-edit {
    margin-left: 26%;
    height: 100%;
    width: 50%;
  }

  .h1-edit {
    height: 100%;
    font-size: 19px;
    width: 100%;
    align-items: top;
    margin-top: 2%;
    margin-left: 29%;
  }



  /*=========TITLE=========*/
  /*=========FILTER=========*/

  #input-filter-icon {
    margin-top: 8%;
    margin-right: 8px;
  }

  /*=========FILTER=========*/
  /*=========TH/TR=========*/

  .th-title-line {
    text-align: center;
    font-size: 12px;
    padding: 5px 15px;
    text-transform: uppercase;
  }

  .th-result-line {
    font: 400 14px/20px Roboto,Helvetica Neue,sans-serif;
    color: #5c5959;
    text-align: center;
  }

  /*=========TH/TR=========*/
  /*=========DELETE=========*/

  .delete {
    width: 1%;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
  }

}

@media (max-width: 586px) {


}

@media (max-width: 320px) {

}

/*=========MEDIA=========*/





